- name: Create application secret
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ app }}-secrets"
        namespace: "{{ openshift_namespace }}"
      type: Opaque
      stringData:
        BLOGS_OIDC_CLIENT_ID: "{{ secrets[openshift_env].auth.client_id }}"
        BLOGS_OIDC_CLIENT_SECRET: "{{ secrets[openshift_env].auth.client_secret }}"
        BLOGS_OIDC_PROVIDER_URL: "{{ secrets[openshift_env].auth.issuer_id }}"
        BLOGS_OIDC_SECRET: "{{ secrets[openshift_env].secret_key }}"
        BLOGS_OIDC_REDIRECT_URI: "https://{{ subdomain }}{% if openshift_env == 'test' %}-test{% endif %}.{{ domain }}/redirect_uri"