- name: create storage for blogarchive
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: "{{ app }}-{% if openshift_env == 'test' %}data{% else %}nas{% endif %}"
        namespace: "{{ openshift_namespace }}"
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
        storageClassName: "{% if openshift_env == 'test' %}sopec{% else %}thin-csi{% endif %}"